.navbar-container {
    padding-top: 50px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 50px;
    background: var(--primary-black);
}

.navbar-sections {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--secondary-font);
} 
        
a:hover {
    color: var(--primary-white);
}

img {
    width: 50px;
}
