.home-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/Home.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: scroll;
}

.home-content {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-content h3{
  font-size: 2.5rem;
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.buttons-container a{
  background: var(--primary-color);
  color: var(--secondary-black);
}

/* Media Queries for medium devices */
@media screen and (max-width: 1024px) {
  .home-content h3{
    font-size: 1.75rem;
  }
} 
/* Media Queries for small devices */
@media screen and (max-width: 650px) {
  .home-content{
    width: 90%;
  }
  .home-content h3{
    font-size: 1.25rem;
  }
}