.contact {
    padding-top: 8rem;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/Contact.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container.contact-container {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;

}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-option {
    background: var(--secondary-color);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition)
}

.contact-option:hover, input:hover, textarea:hover {
    background: transparent;
    border-color: transparent;

}

.contact-option-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contact-option-link {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--primary-white);
}

.contact-option-link:hover {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--primary-white);
}


/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, .btn-primary, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--secondary-color);
    color: var(--primary-white);
    transition: var(--transition);
}

input, textarea, input::placeholder, textarea::placeholder {
    color: var(--primary-white);
    font-family: var(--secondary-font);
}

input:hover, textarea:hover {
    background: transparent;
    border-color: var(--secondary-black);
}
/* animations for contact options logos */
.contact-option:hover > .contact-option-link {
    font-size: 1.5rem;
    animation: pulse 2s linear infinite;
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color);
}
  
@keyframes pulse {
    0%{
      transform: scale(1);
      opacity: 0.5;
    }
    50%{
      transform: scale(1.5);
      opacity:1;
    }
    100%{
      transform: scale(1);
      opacity:0.5;
    }
}


/* Media Queries for medium devices */
@media screen and (max-width: 1024px) {
    .container.contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
/* Media Queries for small devices */
@media screen and (max-width: 600px) {
    .container.contact-container {
        width: var(--container-width-sm);
    }
}
