.contact {
    padding-top: 8rem;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/Contact.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow-x: scroll;
}

.contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.contact h1 {
    font-size: 4rem;
    padding-bottom: 10px;
}

.contact p {
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-shadow: -1px 0 var(--primary-black), 0 1px var(--primary-black), 1px 0 var(--primary-black), 0 -1px var(--primary-black);

}

.contact-container {
    width: var(--container-width-lg);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-option {
    background: var(--secondary-color);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    gap: 10px;
}

.contact-option:hover, input:hover, textarea:hover {
    background: transparent;
    border-color: transparent;

}

.contact-option-icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.contact-option-link {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--primary-white);
}

.contact-option-link:hover {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--primary-white);
}


/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, .btn-primary, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--secondary-color);
    color: var(--primary-white);
    transition: var(--transition);
}

input, textarea, input::placeholder, textarea::placeholder {
    color: var(--primary-white);
    font-family: var(--secondary-font);
}

input:hover, textarea:hover {
    background: transparent;
    border-color: var(--secondary-black);
}
/* animations for contact options logos */
.contact-option:hover > .contact-option-link {
    font-size: 1.5rem;
    animation: pulse 2s linear infinite;
    text-shadow: -1px 0 var(--primary-color), 0 1px var(--primary-color), 1px 0 var(--primary-color), 0 -1px var(--primary-color);
}
  
@keyframes pulse {
    0%{
      transform: scale(1);
      opacity: 0.5;
    }
    50%{
      transform: scale(1.5);
      opacity:1;
    }
    100%{
      transform: scale(1);
      opacity:0.5;
    }
}


/* Media Queries for medium devices */
@media screen and (max-width: 1024px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .contact-intro  h1 {
        font-size: 2.5rem;
    }
    
    .contact-intro  p {
        font-size: 1.25rem;
    }
    .contact-options {
        flex-direction: row;
        gap: 3.33%;
        width: 100%;
    }
    .contact-option {
        width: 33%;
        height: auto;
    }
    .contact-option:hover > .contact-option-link {
        font-size: 1.25rem;
    }
    form {
        flex-flow: row wrap;
        gap: 1rem;
    }
    input:nth-child(1), input:nth-child(2) {
        width: calc(50% - 0.5rem);
    }
}

@media screen and (max-width: 800px) {
    .contact-intro  h1 {
        font-size: 2rem;
    }
    
    .contact-intro  p {
        font-size: 1rem;
    }
}
/* Media Queries for small devices */
@media screen and (max-width: 600px) {
    .contact-container {
        width: var(--container-width-sm);
    }

    .contact-intro {
        padding: 0 5%;
    }
    .contact-intro  h1 {
        font-size: 2.5rem;
    }
    
    .contact-intro  p {
        display: none;
    }
}
